openapi: 3.0.3
info:
  title: Swiss Nursing Home Management API
  description: |
    Comprehensive API solution for a Swiss nursing home group with 500+ employees.
    Covers HR, Scheduling (GAV), Resident Management, Care Planning, Care Execution, and Billing (Krankenkassen/Tarmed/BESA).
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.carehome-swiss.ch/v1
    description: Production Server

security:
  - bearerAuth: []

tags:
  - name: HR
    description: Human Resources, Time Tracking, Absences
  - name: Scheduling
    description: Staff Scheduling & GAV Compliance
  - name: Residents
    description: Resident Management (Heiminsassen)
  - name: CarePlanning
    description: Care Plans & Interventions
  - name: CareExecution
    description: Daily Care Tasks & Documentation
  - name: Billing
    description: Invoicing & Health Insurance (KK) Integration

paths:
  # --- HR: Employees ---
  /hr/employees:
    get:
      tags: [HR]
      summary: List all employees
      operationId: listEmployees
      parameters:
        - name: department
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, on_leave]
      responses:
        '200':
          description: List of employees
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Employee'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
    post:
      tags: [HR]
      summary: Create a new employee
      operationId: createEmployee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Employee'
      responses:
        '201':
          description: Employee created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /hr/employees/{employeeId}:
    get:
      tags: [HR]
      summary: Get employee details
      operationId: getEmployee
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Employee details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '404':
          description: Employee not found
        '401':
          description: Unauthorized

  # --- HR: Time Tracking ---
  /hr/time-tracking/clock-in:
    post:
      tags: [HR]
      summary: Employee clock-in (Präsenz Zeiterfassung)
      operationId: clockIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                employeeId:
                  type: string
                  format: uuid
                timestamp:
                  type: string
                  format: date-time
                locationId:
                  type: string
      responses:
        '200':
          description: Clock-in successful
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /hr/time-tracking/clock-out:
    post:
      tags: [HR]
      summary: Employee clock-out
      operationId: clockOut
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                employeeId:
                  type: string
                  format: uuid
                timestamp:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Clock-out successful
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /hr/absences:
    post:
      tags: [HR]
      summary: Report absence (Krankmeldung)
      operationId: reportAbsence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsenceReport'
      responses:
        '201':
          description: Absence reported
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  # --- Scheduling (GAV) ---
  /scheduling/roster:
    get:
      tags: [Scheduling]
      summary: Get staff roster
      operationId: getRoster
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: unitId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Roster for the period
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shift'
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /scheduling/roster/generate:
    post:
      tags: [Scheduling]
      summary: Generate compliant roster based on GAV rules
      operationId: generateRoster
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                periodStart:
                  type: string
                  format: date
                periodEnd:
                  type: string
                  format: date
                constraints:
                  $ref: '#/components/schemas/GAVConstraints'
      responses:
        '202':
          description: Generation started
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  # --- Residents ---
  /residents:
    get:
      tags: [Residents]
      summary: List residents
      operationId: listResidents
      responses:
        '200':
          description: List of residents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resident'
        '401':
          description: Unauthorized
    post:
      tags: [Residents]
      summary: Admit new resident
      operationId: admitResident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resident'
      responses:
        '201':
          description: Resident admitted
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  # --- Care Planning ---
  /care/plans/{residentId}:
    get:
      tags: [CarePlanning]
      summary: Get care plan for a resident
      operationId: getCarePlan
      parameters:
        - name: residentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Care plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarePlan'
        '404':
          description: Care plan not found
        '401':
          description: Unauthorized
    put:
      tags: [CarePlanning]
      summary: Update care plan (Pflegeplanung)
      operationId: updateCarePlan
      parameters:
        - name: residentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarePlan'
      responses:
        '200':
          description: Plan updated
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  # --- Care Execution ---
  /care/tasks:
    get:
      tags: [CareExecution]
      summary: Get daily care tasks (Pflegemassnahmen)
      operationId: getCareTasks
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: assignedTo
          in: query
          description: Employee ID
          schema:
            type: string
            format: uuid
        - name: residentId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of tasks to be performed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CareTask'
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /care/tasks/{taskId}/execution:
    post:
      tags: [CareExecution]
      summary: Record task execution (Rückmeldung)
      description: Record that a task was done, including actual duration and deviations.
      operationId: recordTaskExecution
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareExecutionRecord'
      responses:
        '201':
          description: Execution recorded
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  # --- Billing ---
  /billing/invoices/generate:
    post:
      tags: [Billing]
      summary: Generate invoices for a period
      description: Creates invoices for Health Insurance (KK) based on executed services.
      operationId: generateInvoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                month:
                  type: integer
                year:
                  type: integer
                residentIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Invoices generated summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  generatedCount:
                    type: integer
                  batchId:
                    type: string
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /billing/services:
    post:
      tags: [Billing]
      summary: Record ad-hoc service (Leistung)
      operationId: recordService
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRecord'
      responses:
        '201':
          description: Service recorded
        '400':
          description: Bad request
        '401':
          description: Unauthorized

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # --- HR Schemas ---
    Employee:
      type: object
      required: [firstName, lastName, ahvNumber, jobTitle]
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        ahvNumber:
          type: string
          description: Swiss Social Security Number (13 digits)
          pattern: '^756\.\d{4}\.\d{4}\.\d{2}$'
        email:
          type: string
          format: email
        jobTitle:
          type: string
        department:
          type: string
        employmentPercentage:
          type: integer
          description: 0-100%
        contractType:
          type: string
          enum: [permanent, temporary, hourly]
        gavLevel:
          type: string
          description: Level according to GAV for salary classification

    AbsenceReport:
      type: object
      required: [employeeId, startDate, reason]
      properties:
        employeeId:
          type: string
          format: uuid
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        reason:
          type: string
          enum: [sickness, accident, holiday, other]
        certificateImage:
          type: string
          format: binary
          description: Upload of doctor's certificate

    # --- Scheduling Schemas ---
    Shift:
      type: object
      properties:
        id:
          type: string
          format: uuid
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        employeeId:
          type: string
          format: uuid
        requiredSkill:
          type: string
          enum: [RN, LPN, Assistant]
        status:
          type: string
          enum: [planned, confirmed, worked]

    GAVConstraints:
      type: object
      description: Rules for GAV compliance
      properties:
        maxWeeklyHours:
          type: integer
          default: 42
        minRestPeriodHours:
          type: integer
          default: 11
        maxConsecutiveDays:
          type: integer
          default: 6

    # --- Resident Schemas ---
    Resident:
      type: object
      required: [firstName, lastName, insuranceCardNumber]
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date
        ahvNumber:
          type: string
          pattern: '^756\.\d{4}\.\d{4}\.\d{2}$'
        insuranceCardNumber:
          type: string
          description: Swiss Health Insurance Card Number (VeKa)
        insuranceProviderGLN:
          type: string
          description: Global Location Number of the Insurer
        careLevel:
          type: string
          description: BESA or RAI-RUG level (e.g., 'BESA 4')
        roomNumber:
          type: string

    # --- Care Schemas ---
    CarePlan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        residentId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        diagnoses:
          type: array
          items:
            type: string
        goals:
          type: array
          items:
            $ref: '#/components/schemas/CareGoal'
        interventions:
          type: array
          items:
            $ref: '#/components/schemas/CareIntervention'

    CareGoal:
      type: object
      properties:
        description:
          type: string
        targetDate:
          type: string
          format: date
        status:
          type: string
          enum: [active, achieved, abandoned]

    CareIntervention:
      type: object
      properties:
        description:
          type: string
        frequency:
          type: string
          example: "2x daily"
        type:
          type: string
          enum: [nursing, therapy, social, hygiene]

    CareTask:
      type: object
      description: A specific instance of an intervention scheduled for a specific time
      properties:
        id:
          type: string
          format: uuid
        residentId:
          type: string
          format: uuid
        residentName:
          type: string
        description:
          type: string
        scheduledTime:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, in_progress, completed, cancelled]
        history:
          type: array
          items:
            $ref: '#/components/schemas/CareTaskHistoryItem'

    CareTaskHistoryItem:
      type: object
      properties:
        description:
          type: string
        performedAt:
          type: string
          format: date-time
        performedBy:
          type: string
          description: Employee ID
        performedByName:
          type: string

    CareExecutionRecord:
      type: object
      required: [executedBy]
      properties:
        taskId:
          type: string
          format: uuid
        executedAt:
          type: string
          format: date-time
        executedBy:
          type: string
          format: uuid
          description: Employee ID
        actualDurationMinutes:
          type: integer
        notes:
          type: string
        deviationReason:
          type: string
          description: Why the care differed from the plan (Rückmeldung)
        vitalSigns:
          $ref: '#/components/schemas/VitalSigns'

    VitalSigns:
      type: object
      properties:
        bloodPressure:
          type: string
        pulse:
          type: integer
        temperature:
          type: number
        weight:
          type: number

    # --- Billing Schemas ---
    ServiceRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        residentId:
          type: string
          format: uuid
        date:
          type: string
          format: date-time
        serviceCode:
          type: string
          description: Tarmed, TARDOC, Pauschalen, or Internal Code
          anyOf:
            - $ref: '#/components/schemas/TardocCode'
            - $ref: '#/components/schemas/AmbulatoryLumpSumCode'
            - type: string
        description:
          type: string
        quantity:
          type: number
        unitPrice:
          type: number
          format: double

    TardocCode:
      type: string
      description: Offizielle TARDOC Codes
      enum:
        - 'AA.00.0010'
        - 'AA.00.0020'
        - 'AA.00.0030'
        - 'AA.00.0040'
        - 'AA.00.0050'
        - 'AA.00.0060'
        - 'AA.00.0070'
        - 'AA.00.0080'
        - 'AA.00.0090'
        - 'AA.05.0010'
        - 'AA.05.0020'
        - 'AA.05.0030'
        - 'AA.05.0040'
        - 'AA.05.0050'
        - 'AA.05.0060'
        - 'AA.05.0070'
        - 'AA.05.0080'
        - 'AA.05.0090'
        - 'AA.05.0100'
        - 'AA.05.0110'
        - 'AA.05.0120'
        - 'AA.05.0130'
        - 'AA.05.0140'
        - 'AA.10.0010'
        - 'AA.10.0020'
        - 'AA.10.0030'
        - 'AA.15.0010'
        - 'AA.15.0020'
        - 'AA.15.0030'
        - 'AA.15.0040'
        - 'AA.15.0050'
        - 'AA.15.0060'
        - 'AA.15.0070'
        - 'AA.15.0080'
        - 'AA.15.0090'
        - 'AA.20.0010'
        - 'AA.20.0020'
        - 'AA.20.0030'
        - 'AA.20.0040'
        - 'AA.20.0050'
        - 'AA.20.0060'
        - 'AA.20.0070'
        - 'AA.25.0010'
        - 'AA.25.0020'
        - 'AA.25.0030'
        - 'AA.25.0040'
        - 'AA.25.0050'
        - 'AA.30.0010'
        - 'AA.30.0020'
        - 'AA.30.0030'
        - 'AA.30.0040'
        - 'AA.30.0050'
        - 'AA.30.0060'
        - 'AA.30.0070'
        - 'AA.30.0080'
        - 'AA.30.0090'
        - 'AA.30.0100'
        - 'AA.30.0110'
        - 'AG.00.0010'
        - 'AG.00.0020'
        - 'AG.00.0030'
        - 'AG.00.0040'
        - 'AG.00.0050'
        - 'AG.00.0060'
        - 'AG.00.0070'
        - 'AG.00.0080'
        - 'AG.00.0090'
        - 'AG.00.0100'
        - 'AK.00.0010'
        - 'AK.00.0020'
        - 'AK.00.0030'
        - 'AK.00.0040'
        - 'AK.00.0050'
        - 'AK.00.0060'
        - 'AK.00.0070'
        - 'AK.00.0080'
        - 'AK.00.0090'
        - 'AK.00.0100'
        - 'AK.00.0110'
        - 'AK.00.0120'
        - 'AK.00.0130'
        - 'AK.05.0010'
        - 'AK.05.0020'
        - 'AK.05.0030'
        - 'AK.05.0040'
        - 'AM.00.0010'
        - 'AM.05.0010'
        - 'AM.05.0020'
        - 'AM.05.0030'
        - 'AM.05.0040'
        - 'AM.05.0050'
        - 'AM.05.0060'
        - 'AM.05.0070'
        - 'AM.05.0080'
        - 'AM.05.0090'
        - 'AM.05.0100'
        - 'AM.10.0010'
        - 'AM.10.0020'
        - 'AM.10.0030'
        - 'AM.10.0040'
        - 'AM.10.0050'
        - 'AM.10.0060'
        - 'AM.10.0070'
        - 'AM.10.0080'
        - 'AM.15.0010'
        - 'AP.00.0010'
        - 'AP.05.0010'
        - 'AP.05.0020'
        - 'AP.05.0030'
        - 'AP.05.0040'
        - 'AP.05.0050'
        - 'AP.05.0060'
        - 'AP.05.0070'
        - 'AP.05.0080'
        - 'AP.05.0090'
        - 'AP.05.0100'
        - 'AP.05.0110'
        - 'AP.10.0010'
        - 'AP.10.0020'
        - 'AP.10.0030'
        - 'AR.00.0010'
        - 'AR.00.0020'
        - 'AR.00.0030'
        - 'AR.00.0040'
        - 'AR.00.0050'
        - 'AR.00.0060'
        - 'AR.00.0070'
        - 'AR.00.0090'
        - 'AR.00.0100'
        - 'AR.00.0130'
        - 'AR.00.0140'
        - 'AR.00.0160'
        - 'AR.00.0170'
        - 'AR.00.0180'
        - 'AR.00.0190'
        - 'AR.00.0200'
        - 'AR.00.0210'
        - 'AR.00.0220'
        - 'AR.00.0230'
        - 'AR.00.0240'
        - 'AR.00.0250'
        - 'AR.00.0260'
        - 'AR.00.0270'
        - 'AR.00.0280'
        - 'AR.00.0290'
        - 'AR.00.0300'
        - 'AR.00.0310'
        - 'AR.00.0320'
        - 'AR.00.0330'
        - 'AR.00.0370'
        - 'AR.00.0380'
        - 'AR.00.0390'
        - 'AR.00.0400'
        - 'AR.00.0410'
        - 'AR.00.0420'
        - 'AR.00.0430'
        - 'AR.00.0440'
        - 'AR.00.0450'
        - 'AR.00.0460'
        - 'AR.00.0470'
        - 'AR.00.0480'
        - 'AR.00.0490'
        - 'AR.00.0500'
        - 'AR.05.0010'
        - 'AR.05.0020'
        - 'AR.05.0030'
        - 'AR.05.0040'
        - 'AR.05.0050'
        - 'AR.05.0060'
        - 'AR.05.0070'
        - 'AR.05.0080'
        - 'AR.05.0090'
        - 'AR.05.0100'
        - 'CA.00.0010'
        - 'CA.00.0020'
        - 'CA.00.0030'
        - 'CA.00.0040'
        - 'CA.00.0050'
        - 'CA.00.0060'
        - 'CA.00.0070'
        - 'CA.05.0010'
        - 'CA.05.0020'
        - 'CA.05.0030'
        - 'CA.10.0010'
        - 'CA.15.0010'
        - 'CA.15.0020'
        - 'CA.15.0030'
        - 'CA.15.0040'
        - 'CA.15.0050'
        - 'CA.15.0060'
        - 'CA.15.0070'
        - 'CA.15.0080'
        - 'CA.15.0090'
        - 'CA.15.0100'
        - 'CA.15.0110'
        - 'CA.15.0120'
        - 'CA.15.0130'
        - 'CA.15.0140'
        - 'CG.00.0010'
        - 'CG.00.0020'
        - 'CG.00.0030'
        - 'CG.00.0040'
        - 'CG.00.0050'
        - 'CG.00.0060'
        - 'CG.00.0070'
        - 'CG.00.0080'
        - 'CG.00.0090'
        - 'CG.00.0100'
        - 'CG.00.0110'
        - 'CG.00.0120'
        - 'CG.00.0130'
        - 'CG.00.0140'
        - 'CG.00.0150'
        - 'CG.00.0160'
        - 'CG.00.0170'
        - 'CG.05.0010'
        - 'CG.05.0040'
        - 'CG.05.0050'
        - 'CG.05.0060'
        - 'CG.05.0070'
        - 'CG.05.0080'
        - 'CG.10.0010'
        - 'CG.10.0020'
        - 'CG.10.0030'
        - 'CG.10.0040'
        - 'CG.10.0050'
        - 'CG.15.0010'
        - 'EA.00.0010'
        - 'EA.00.0020'
        - 'EA.00.0030'
        - 'EA.00.0040'
        - 'EA.00.0050'
        - 'EA.00.0060'
        - 'EA.00.0070'
        - 'EA.00.0090'
        - 'EA.00.0100'
        - 'EA.00.0110'
        - 'EA.00.0120'
        - 'EA.00.0130'
        - 'EA.00.0140'
        - 'EA.00.0150'
        - 'EA.00.0160'
        - 'EA.00.0170'
        - 'EA.00.0180'
        - 'EA.00.0190'
        - 'EA.00.0200'
        - 'EA.00.0210'
        - 'EA.00.0220'
        - 'EA.00.0230'
        - 'EA.00.0240'
        - 'EA.00.0250'
        - 'EA.05.0010'
        - 'EA.05.0020'
        - 'EA.05.0030'
        - 'EA.05.0040'
        - 'EA.05.0050'
        - 'EA.05.0060'
        - 'EA.05.0070'
        - 'EA.05.0080'
        - 'EA.05.0090'
        - 'EA.05.0100'
        - 'EA.05.0110'
        - 'EA.05.0120'
        - 'EA.05.0130'
        - 'EA.05.0140'
        - 'EA.05.0150'
        - 'EA.10.0010'
        - 'EA.10.0020'
        - 'GA.00.0010'
        - 'GA.05.0010'
        - 'GA.05.0020'
        - 'GG.00.0010'
        - 'GG.00.0020'
        - 'GG.00.0030'
        - 'GG.00.0040'
        - 'GG.00.0050'
        - 'GG.00.0060'
        - 'GG.00.0070'
        - 'GG.00.0080'
        - 'GG.00.0090'
        - 'GG.00.0100'
        - 'GG.00.0110'
        - 'GG.00.0120'
        - 'GG.00.0130'
        - 'GG.00.0140'
        - 'GG.00.0150'
        - 'GG.00.0160'
        - 'GG.00.0170'
        - 'GG.00.0180'
        - 'GG.00.0190'
        - 'GG.00.0200'
        - 'GG.00.0210'
        - 'GG.00.0220'
        - 'GG.00.0230'
        - 'GG.00.0240'
        - 'GG.00.0250'
        - 'GG.00.0260'
        - 'GG.00.0270'
        - 'GG.00.0280'
        - 'GG.00.0290'
        - 'GG.00.0300'
        - 'GG.00.0310'
        - 'GG.00.0320'
        - 'GG.00.0330'
        - 'GG.00.0340'
        - 'GG.00.0350'
        - 'GG.00.0360'
        - 'GG.00.0370'
        - 'GG.00.0380'
        - 'GG.00.0390'
        - 'GG.00.0400'
        - 'GG.00.0410'
        - 'GG.00.0420'
        - 'GG.00.0430'
        - 'GG.00.0440'
        - 'GG.00.0450'
        - 'GG.00.0460'
        - 'GG.00.0470'
        - 'GG.00.0480'
        - 'GG.00.0490'
        - 'GG.00.0500'
        - 'GG.00.0510'
        - 'GG.00.0520'
        - 'GG.05.0010'
        - 'GG.05.0020'
        - 'GG.05.0030'
        - 'GG.05.0040'
        - 'GG.05.0050'
        - 'GG.05.0070'
        - 'GG.05.0080'
        - 'GG.05.0090'
        - 'GG.05.0100'
        - 'GG.05.0110'
        - 'GG.05.0120'
        - 'GG.10.0010'
        - 'GG.10.0020'
        - 'GG.10.0030'
        - 'GG.10.0040'
        - 'GG.10.0050'
        - 'GG.10.0060'
        - 'GG.10.0070'
        - 'GG.10.0080'
        - 'GG.10.0090'
        - 'GG.10.0100'
        - 'GG.15.0010'
        - 'GG.15.0020'
        - 'GG.15.0030'
        - 'GG.15.0040'
        - 'GG.15.0050'
        - 'GG.15.0060'
        - 'GG.15.0070'
        - 'GG.15.0080'
        - 'GG.15.0090'
        - 'GG.15.0100'
        - 'GG.15.0110'
        - 'GG.15.0120'
        - 'GG.15.0130'
        - 'GG.15.0140'
        - 'GG.15.0150'
        - 'GG.15.0160'
        - 'GG.15.0190'
        - 'GG.15.0200'
        - 'GG.15.0210'
        - 'GG.15.0220'
        - 'GG.15.0230'
        - 'GG.15.0240'
        - 'GG.15.0250'
        - 'GG.15.0260'
        - 'GG.15.0270'
        - 'GG.15.0280'
        - 'GG.15.0290'
        - 'GG.15.0300'
        - 'GG.15.0310'
        - 'GG.15.0320'
        - 'GG.15.0330'
        - 'GG.15.0340'
        - 'GG.15.0350'
        - 'GG.15.0360'
        - 'GG.15.0370'
        - 'GG.15.0380'
        - 'GG.15.0390'
        - 'GG.15.0400'
        - 'GG.15.0410'
        - 'GG.15.0420'
        - 'GG.20.0010'
        - 'GG.20.0020'
        - 'GG.20.0030'
        - 'GG.20.0040'
        - 'GG.25.0010'
        - 'GG.30.0010'
        - 'GG.30.0020'
        - 'GG.30.0030'
        - 'GG.30.0040'
        - 'GG.30.0050'
        - 'GG.30.0060'
        - 'GG.30.0070'
        - 'GG.30.0080'
        - 'GG.30.0090'
        - 'GG.30.0100'
        - 'GK.00.0010'
        - 'GK.00.0020'
        - 'GK.00.0030'
        - 'GK.00.0040'
        - 'GK.00.0050'
        - 'GK.00.0060'
        - 'GK.00.0070'
        - 'GK.00.0080'
        - 'GK.00.0090'
        - 'GK.05.0010'
        - 'GK.05.0020'
        - 'GK.05.0030'
        - 'GK.05.0040'
        - 'GK.05.0050'
        - 'GK.05.0060'
        - 'GK.05.0070'
        - 'GK.05.0080'
        - 'GK.05.0090'
        - 'GK.10.0010'
        - 'GK.10.0020'
        - 'GK.10.0030'
        - 'GK.10.0040'
        - 'GK.10.0050'
        - 'GK.10.0060'
        - 'GK.10.0070'
        - 'GK.10.0080'
        - 'GK.10.0090'
        - 'GK.10.0100'
        - 'GK.10.0110'
        - 'GK.10.0120'
        - 'GK.10.0130'
        - 'GK.10.0140'
        - 'GK.10.0150'
        - 'GK.10.0160'
        - 'GK.10.0170'
        - 'GK.10.0180'
        - 'GK.15.0010'
        - 'GK.15.0020'
        - 'GK.15.0030'
        - 'GK.20.0010'
        - 'GK.20.0020'
        - 'GK.20.0030'
        - 'GK.20.0040'
        - 'GK.20.0050'
        - 'GK.20.0060'
        - 'GK.20.0070'
        - 'GK.20.0080'
        - 'GK.20.0090'
        - 'GK.20.0100'
        - 'GK.20.0110'
        - 'GK.20.0120'
        - 'GK.20.0130'
        - 'GK.25.0010'
        - 'GK.25.0020'
        - 'GK.25.0030'
        - 'GK.25.0040'
        - 'GK.25.0050'
        - 'GK.25.0060'
        - 'GK.25.0070'
        - 'GK.25.0080'
        - 'GK.25.0090'
        - 'GK.25.0100'
        - 'GK.25.0110'
        - 'GK.25.0120'
        - 'GK.25.0130'
        - 'GK.25.0140'
        - 'GK.25.0150'
        - 'GK.25.0160'
        - 'GK.25.0170'
        - 'GK.30.0010'
        - 'GK.30.0020'
        - 'GK.30.0030'
        - 'GK.30.0040'
        - 'GK.30.0050'
        - 'GK.30.0060'
        - 'GK.35.0010'
        - 'GK.35.0020'
        - 'GK.35.0030'
        - 'GK.35.0040'
        - 'GK.35.0050'
        - 'GK.35.0060'
        - 'GK.35.0070'
        - 'GK.35.0080'
        - 'GK.35.0110'
        - 'GK.35.0120'
        - 'GK.35.0130'
        - 'GK.40.0010'
        - 'GK.40.0020'
        - 'GK.40.0030'
        - 'GK.45.0010'
        - 'GK.45.0020'
        - 'GK.45.0030'
        - 'GK.45.0040'
        - 'GK.45.0050'
        - 'GK.50.0010'
        - 'GM.00.0010'
        - 'GM.00.0020'
        - 'GM.00.0030'
        - 'GM.00.0040'
        - 'GM.00.0050'
        - 'GM.00.0060'
        - 'GM.00.0070'
        - 'GM.00.0080'
        - 'GM.00.0090'
        - 'GM.00.0100'
        - 'GM.00.0110'
        - 'GM.00.0120'
        - 'GM.00.0130'
        - 'GM.00.0140'
        - 'GM.00.0150'
        - 'GM.00.0160'
        - 'GM.00.0170'
        - 'GM.00.0180'
        - 'GM.00.0190'
        - 'GM.00.0200'
        - 'GM.00.0210'
        - 'GM.00.0220'
        - 'GM.00.0230'
        - 'GM.00.0240'
        - 'GM.00.0250'
        - 'GM.00.0260'
        - 'GM.05.0010'
        - 'GM.05.0020'
        - 'GM.05.0030'
        - 'GM.05.0040'
        - 'GM.10.0010'
        - 'GM.15.0010'
        - 'GM.15.0020'
        - 'GP.00.0010'
        - 'GP.00.0020'
        - 'GP.00.0030'
        - 'GP.00.0040'
        - 'GP.00.0050'
        - 'GP.00.0060'
        - 'GP.00.0070'
        - 'GP.00.0080'
        - 'GP.00.0090'
        - 'GP.00.0100'
        - 'GP.00.0110'
        - 'GP.00.0120'
        - 'GP.00.0130'
        - 'GP.00.0140'
        - 'GP.00.0150'
        - 'GP.00.0160'
        - 'GP.00.0170'
        - 'GP.00.0180'
        - 'GP.00.0190'
        - 'GP.00.0200'
        - 'GP.00.0210'
        - 'GP.00.0220'
        - 'GP.00.0230'
        - 'GP.00.0240'
        - 'GP.00.0250'
        - 'GP.00.0260'
        - 'GP.00.0270'
        - 'GP.00.0280'
        - 'GP.05.0010'
        - 'GP.10.0010'
        - 'GP.10.0020'
        - 'GP.15.0010'
        - 'GP.15.0020'
        - 'JA.00.0010'
        - 'JA.00.0020'
        - 'JA.00.0030'
        - 'JA.00.0040'
        - 'JA.00.0050'
        - 'JC.00.0010'
        - 'JC.00.0020'
        - 'JC.00.0030'
        - 'JE.00.0010'
        - 'JE.00.0020'
        - 'JE.00.0030'
        - 'JE.00.0040'
        - 'JE.00.0050'
        - 'JE.00.0060'
        - 'JE.00.0070'
        - 'JE.00.0080'
        - 'JE.00.0090'
        - 'JG.00.0010'
        - 'JG.00.0020'
        - 'JG.00.0030'
        - 'JK.00.0010'
        - 'JM.00.0010'
        - 'JM.00.0020'
        - 'JM.00.0030'
        - 'JM.00.0040'
        - 'JM.00.0050'
        - 'JM.05.0010'
        - 'JM.05.0020'
        - 'JM.05.0030'
        - 'JM.05.0040'
        - 'JM.10.0010'
        - 'JM.10.0020'
        - 'JM.10.0030'
        - 'JM.10.0040'
        - 'JM.10.0050'
        - 'JM.10.0060'
        - 'JM.10.0070'
        - 'JM.10.0080'
        - 'JM.10.0090'
        - 'JM.10.0100'
        - 'JM.10.0110'
        - 'JM.10.0120'
        - 'JM.15.0010'
        - 'JM.15.0020'
        - 'JM.15.0030'
        - 'JM.15.0040'
        - 'JM.15.0050'
        - 'JM.15.0060'
        - 'JM.15.0070'
        - 'JM.15.0080'
        - 'JM.15.0090'
        - 'JM.15.0100'
        - 'JM.15.0110'
        - 'JM.15.0120'
        - 'JM.20.0010'
        - 'JM.20.0020'
        - 'JM.20.0030'
        - 'JM.20.0040'
        - 'JM.20.0050'
        - 'JM.20.0060'
        - 'JM.25.0010'
        - 'JM.25.0020'
        - 'JM.25.0030'
        - 'JM.25.0040'
        - 'JM.25.0050'
        - 'JM.25.0060'
        - 'JM.25.0070'
        - 'JM.25.0080'
        - 'JM.25.0090'
        - 'JM.25.0100'
        - 'JM.25.0110'
        - 'JM.25.0120'
        - 'JM.25.0130'
        - 'JM.25.0140'
        - 'JM.30.0010'
        - 'JM.30.0020'
        - 'JM.30.0030'
        - 'JM.30.0040'
        - 'JM.30.0050'
        - 'JM.35.0010'
        - 'JM.35.0020'
        - 'JM.35.0030'
        - 'JM.35.0040'
        - 'JM.35.0050'
        - 'JM.35.0060'
        - 'JM.35.0070'
        - 'JM.35.0080'
        - 'JM.35.0090'
        - 'JM.35.0100'
        - 'JM.35.0110'
        - 'JM.35.0120'
        - 'JM.35.0130'
        - 'JM.35.0140'
        - 'JM.35.0150'
        - 'JM.35.0160'
        - 'JP.00.0010'
        - 'JP.00.0020'
        - 'JP.00.0030'
        - 'JP.00.0040'
        - 'JP.00.0050'
        - 'JR.00.0010'
        - 'JR.00.0020'
        - 'JR.00.0030'
        - 'JR.00.0040'
        - 'JR.00.0050'
        - 'JR.00.0060'
        - 'JR.00.0070'
        - 'JR.00.0080'
        - 'JR.00.0090'
        - 'JR.00.0100'
        - 'JR.00.0110'
        - 'JT.00.0010'
        - 'JT.00.0020'
        - 'JV.00.0010'
        - 'JV.00.0020'
        - 'JV.00.0030'
        - 'JV.05.0010'
        - 'JV.10.0010'
        - 'JV.10.0020'
        - 'JV.10.0030'
        - 'JV.10.0040'
        - 'JV.10.0050'
        - 'JX.05.0010'
        - 'JX.05.0020'
        - 'JX.05.0030'
        - 'JX.05.0040'
        - 'JX.05.0050'
        - 'JX.05.0080'
        - 'JX.05.0090'
        - 'JX.05.0100'
        - 'JX.10.0010'
        - 'JX.10.0020'
        - 'JX.25.0010'
        - 'JX.25.0020'
        - 'JX.30.0010'
        - 'JX.30.0020'
        - 'JX.30.0030'
        - 'JZ.00.0010'
        - 'JZ.00.0020'
        - 'KD.00.0010'
        - 'KD.05.0010'
        - 'KD.05.0020'
        - 'KD.05.0030'
        - 'KD.05.0040'
        - 'KD.05.0050'
        - 'KD.05.0060'
        - 'KD.05.0070'
        - 'KD.05.0090'
        - 'KF.00.0010'
        - 'KF.00.0020'
        - 'KF.00.0030'
        - 'KF.00.0040'
        - 'KF.05.0010'
        - 'KF.05.0020'
        - 'KF.05.0030'
        - 'KF.05.0040'
        - 'KF.05.0050'
        - 'KF.10.0010'
        - 'KF.10.0020'
        - 'KF.10.0030'
        - 'KF.10.0040'
        - 'KF.10.0050'
        - 'KF.10.0060'
        - 'KF.10.0070'
        - 'KF.10.0080'
        - 'KF.10.0090'
        - 'KF.10.0100'
        - 'KF.10.0110'
        - 'KF.10.0120'
        - 'KF.10.0130'
        - 'KH.00.0010'
        - 'KH.00.0020'
        - 'KH.00.0030'
        - 'KH.00.0040'
        - 'KH.00.0050'
        - 'KH.00.0060'
        - 'KH.00.0070'
        - 'KH.00.0080'
        - 'KH.00.0090'
        - 'KH.00.0100'
        - 'KK.00.0010'
        - 'KK.05.0010'
        - 'KK.05.0020'
        - 'KK.05.0030'
        - 'KK.05.0040'
        - 'KK.05.0050'
        - 'KK.05.0060'
        - 'KK.05.0090'
        - 'KK.25.0010'
        - 'KM.00.0010'
        - 'KM.00.0020'
        - 'KM.00.0030'
        - 'KM.00.0040'
        - 'KM.00.0050'
        - 'KM.00.0060'
        - 'KP.00.0010'
        - 'MA.00.0010'
        - 'MA.00.0020'
        - 'MA.00.0030'
        - 'MA.00.0040'
        - 'MA.00.0050'
        - 'MA.00.0060'
        - 'MA.00.0070'
        - 'MA.00.0080'
        - 'MA.00.0090'
        - 'MA.00.0100'
        - 'MA.00.0110'
        - 'MA.00.0120'
        - 'MA.00.0130'
        - 'MA.00.0140'
        - 'MA.00.0150'
        - 'MA.00.0160'
        - 'MA.00.0170'
        - 'MA.00.0180'
        - 'MA.00.0190'
        - 'MA.00.0200'
        - 'MA.00.0210'
        - 'MA.00.0220'
        - 'MG.05.0010'
        - 'MG.05.0020'
        - 'MG.05.0030'
        - 'MG.05.0040'
        - 'MG.05.0050'
        - 'MK.00.0010'
        - 'MK.00.0020'
        - 'MK.00.0030'
        - 'MK.00.0040'
        - 'MK.00.0050'
        - 'MK.00.0060'
        - 'MK.00.0070'
        - 'MK.00.0080'
        - 'MK.00.0090'
        - 'MK.00.0100'
        - 'MK.05.0010'
        - 'MK.05.0020'
        - 'MK.05.0030'
        - 'MK.05.0040'
        - 'MK.05.0050'
        - 'MK.05.0060'
        - 'MK.05.0070'
        - 'MK.05.0080'
        - 'MK.05.0090'
        - 'MK.05.0100'
        - 'MK.10.0010'
        - 'MK.10.0020'
        - 'MK.10.0030'
        - 'MK.10.0040'
        - 'MK.10.0050'
        - 'MK.10.0060'
        - 'MK.10.0070'
        - 'MK.10.0080'
        - 'MK.10.0090'
        - 'MK.10.0100'
        - 'MK.10.0110'
        - 'MK.10.0120'
        - 'MK.10.0130'
        - 'MK.10.0140'
        - 'MK.10.0150'
        - 'MK.10.0160'
        - 'MK.10.0170'
        - 'MK.10.0180'
        - 'MK.10.0190'
        - 'MK.10.0200'
        - 'MK.10.0210'
        - 'MK.10.0220'
        - 'MK.10.0230'
        - 'MK.10.0240'
        - 'MK.15.0010'
        - 'MK.15.0030'
        - 'MK.15.0040'
        - 'MK.15.0050'
        - 'MK.15.0060'
        - 'MK.15.0070'
        - 'MK.15.0080'
        - 'MK.15.0100'
        - 'MK.20.0010'
        - 'MK.20.0030'
        - 'MK.20.0040'
        - 'MK.20.0050'
        - 'MK.20.0060'
        - 'MK.20.0070'
        - 'MK.20.0080'
        - 'MK.20.0090'
        - 'MK.20.0100'
        - 'MK.20.0110'
        - 'MK.20.0120'
        - 'MK.20.0130'
        - 'MK.20.0140'
        - 'MK.20.0150'
        - 'MK.20.0160'
        - 'MK.20.0170'
        - 'MK.20.0180'
        - 'MK.20.0190'
        - 'MK.20.0200'
        - 'MK.20.0210'
        - 'MK.20.0300'
        - 'MK.20.0310'
        - 'MK.25.0010'
        - 'MK.25.0020'
        - 'MK.25.0030'
        - 'MK.25.0040'
        - 'MK.25.0050'
        - 'MK.25.0060'
        - 'MK.25.0070'
        - 'MK.25.0080'
        - 'MK.25.0090'
        - 'MK.25.0100'
        - 'MK.25.0110'
        - 'MK.25.0120'
        - 'MK.25.0390'
        - 'MP.00.0010'
        - 'MP.00.0020'
        - 'MP.00.0030'
        - 'MP.00.0040'
        - 'MP.00.0050'
        - 'MP.00.0060'
        - 'MP.00.0070'
        - 'MP.00.0080'
        - 'MP.00.0090'
        - 'MP.00.0100'
        - 'MP.00.0110'
        - 'MP.00.0120'
        - 'MP.00.0130'
        - 'MP.00.0140'
        - 'MP.00.0150'
        - 'MP.00.0160'
        - 'MP.00.0170'
        - 'MP.00.0180'
        - 'MP.00.0190'
        - 'MP.00.0230'
        - 'MP.00.0240'
        - 'MP.00.0250'
        - 'MP.05.0010'
        - 'MP.05.0020'
        - 'MP.05.0030'
        - 'MP.05.0040'
        - 'MP.05.0050'
        - 'MP.05.0060'
        - 'MP.05.0070'
        - 'MP.05.0080'
        - 'MP.05.0090'
        - 'MP.05.0100'
        - 'MP.05.0110'
        - 'MP.05.0120'
        - 'MP.05.0130'
        - 'MP.05.0140'
        - 'MP.10.0010'
        - 'MP.10.0020'
        - 'MP.10.0030'
        - 'MP.10.0040'
        - 'MP.10.0050'
        - 'MP.10.0060'
        - 'MP.10.0070'
        - 'MP.10.0080'
        - 'MP.10.0090'
        - 'MP.10.0100'
        - 'MP.10.0110'
        - 'MP.10.0120'
        - 'MP.10.0130'
        - 'MP.10.0140'
        - 'MP.10.0150'
        - 'MP.15.0010'
        - 'MP.15.0020'
        - 'MP.15.0030'
        - 'MP.15.0040'
        - 'MP.15.0050'
        - 'MP.15.0060'
        - 'MP.15.0070'
        - 'MP.15.0080'
        - 'MP.15.0090'
        - 'MP.15.0100'
        - 'MP.15.0110'
        - 'MP.20.0010'
        - 'MP.20.0020'
        - 'MP.20.0030'
        - 'MP.25.0010'
        - 'MR.00.0010'
        - 'MR.00.0020'
        - 'MR.00.0040'
        - 'MR.05.0010'
        - 'PA.00.0060'
        - 'PG.00.0070'
        - 'PG.00.0080'
        - 'PG.00.0090'
        - 'RA.00.0010'
        - 'RA.00.0020'
        - 'RA.00.0030'
        - 'RA.00.0040'
        - 'RC.00.0010'
        - 'RC.00.0020'
        - 'RC.00.0030'
        - 'RC.00.0040'
        - 'RC.00.0050'
        - 'RC.00.0060'
        - 'RC.00.0070'
        - 'RC.00.0080'
        - 'RC.00.0090'
        - 'RC.00.0100'
        - 'RC.00.0110'
        - 'RC.05.0010'
        - 'RC.05.0020'
        - 'RC.05.0030'
        - 'RC.05.0040'
        - 'RC.10.0010'
        - 'RC.10.0020'
        - 'RC.10.0030'
        - 'RC.10.0040'
        - 'RC.10.0050'
        - 'RC.10.0060'
        - 'RC.15.0010'
        - 'RC.15.0020'
        - 'RC.15.0030'
        - 'RC.15.0040'
        - 'RC.15.0050'
        - 'RC.15.0060'
        - 'RC.15.0070'
        - 'RC.15.0080'
        - 'RC.15.0090'
        - 'RC.15.0100'
        - 'RC.15.0110'
        - 'RC.20.0010'
        - 'RC.20.0020'
        - 'RC.25.0010'
        - 'RC.25.0020'
        - 'RC.25.0030'
        - 'RC.25.0040'
        - 'RC.25.0050'
        - 'RC.25.0060'
        - 'RC.25.0070'
        - 'RC.25.0140'
        - 'RC.30.0010'
        - 'RC.35.0010'
        - 'RC.35.0020'
        - 'RC.35.0030'
        - 'RC.35.0040'
        - 'RC.35.0050'
        - 'RC.35.0060'
        - 'RC.35.0070'
        - 'RC.35.0080'
        - 'RC.35.0090'
        - 'RC.35.0100'
        - 'RC.35.0110'
        - 'RC.35.0120'
        - 'RC.35.0130'
        - 'RC.35.0140'
        - 'RC.35.0150'
        - 'RC.35.0160'
        - 'RC.35.0170'
        - 'RC.35.0180'
        - 'RC.35.0190'
        - 'RC.35.0200'
        - 'RC.35.0210'
        - 'RC.35.0220'
        - 'RC.40.0010'
        - 'RC.40.0020'
        - 'RC.40.0030'
        - 'RC.40.0040'
        - 'RC.40.0050'
        - 'RC.40.0060'
        - 'RC.40.0070'
        - 'RC.40.0080'
        - 'RC.40.0090'
        - 'RC.40.0100'
        - 'RC.40.0110'
        - 'RC.40.0120'
        - 'RC.45.0010'
        - 'RC.45.0020'
        - 'RC.45.0030'
        - 'RC.50.0130'
        - 'RC.50.0140'
        - 'RC.50.0270'
        - 'RC.50.0280'
        - 'RC.55.0010'
        - 'RC.55.0020'
        - 'RC.55.0030'
        - 'RC.55.0040'
        - 'RC.55.0050'
        - 'RC.55.0060'
        - 'RC.55.0070'
        - 'RC.55.0080'
        - 'RC.55.0090'
        - 'RC.55.0160'
        - 'RC.55.0180'
        - 'RC.55.0210'
        - 'RC.55.0220'
        - 'RC.60.0020'
        - 'RC.60.0040'
        - 'RC.60.0050'
        - 'RC.60.0140'
        - 'RC.65.0010'
        - 'RC.70.0010'
        - 'RC.70.0020'
        - 'RC.70.0030'
        - 'RC.70.0040'
        - 'RC.70.0110'
        - 'RC.85.0010'
        - 'RC.85.0020'
        - 'RC.90.0010'
        - 'RE.00.0010'
        - 'RE.00.0020'
        - 'RE.00.0030'
        - 'RE.00.0040'
        - 'RE.00.0050'
        - 'RE.00.0060'
        - 'RE.00.0070'
        - 'RE.00.0080'
        - 'RE.00.0090'
        - 'RE.00.0100'
        - 'RE.00.0110'
        - 'RG.00.0010'
        - 'RG.00.0020'
        - 'RG.00.0030'
        - 'RG.00.0040'
        - 'RG.00.0050'
        - 'RG.00.0060'
        - 'RG.05.0010'
        - 'RG.05.0020'
        - 'RG.05.0030'
        - 'RG.05.0040'
        - 'RG.05.0050'
        - 'RG.05.0060'
        - 'RG.05.0070'
        - 'RG.05.0080'
        - 'RG.05.0090'
        - 'RG.05.0100'
        - 'RG.05.0110'
        - 'RG.05.0120'
        - 'RG.05.0130'
        - 'RG.05.0140'
        - 'RG.05.0150'
        - 'RG.05.0160'
        - 'RG.05.0170'
        - 'RG.05.0180'
        - 'RG.05.0190'
        - 'RG.05.0200'
        - 'RG.05.0210'
        - 'RG.05.0220'
        - 'RG.05.0230'
        - 'RG.05.0240'
        - 'RG.05.0260'
        - 'RG.05.0270'
        - 'RG.05.0280'
        - 'RG.05.0290'
        - 'RG.05.0300'
        - 'RG.05.0310'
        - 'RG.05.0320'
        - 'RG.05.0330'
        - 'RG.05.0340'
        - 'RG.05.0350'
        - 'RG.05.0360'
        - 'RG.05.0370'
        - 'RG.05.0380'
        - 'RG.10.0010'
        - 'RG.10.0020'
        - 'RG.10.0030'
        - 'RG.10.0040'
        - 'RG.10.0050'
        - 'RG.10.0060'
        - 'RG.10.0070'
        - 'RG.10.0080'
        - 'RG.10.0090'
        - 'RG.10.0100'
        - 'RG.10.0110'
        - 'RG.10.0130'
        - 'RG.10.0140'
        - 'RG.10.0150'
        - 'RG.10.0160'
        - 'RG.10.0180'
        - 'RG.10.0190'
        - 'RG.10.0200'
        - 'RG.10.0210'
        - 'RG.10.0220'
        - 'RG.10.0230'
        - 'RG.10.0240'
        - 'RG.10.0250'
        - 'RG.10.0260'
        - 'RG.10.0270'
        - 'RG.10.0280'
        - 'RG.15.0020'
        - 'RG.15.0030'
        - 'RG.15.0050'
        - 'RG.15.0100'
        - 'RG.20.0090'
        - 'RG.20.0100'
        - 'RG.25.0010'
        - 'RG.35.0010'
        - 'RG.35.0020'
        - 'RG.35.0080'
        - 'RG.35.0100'
        - 'RG.50.0050'
        - 'RG.55.0010'
        - 'RG.55.0030'
        - 'RG.55.0040'
        - 'TA.00.0010'
        - 'TA.10.0180'
        - 'TG.00.0010'
        - 'TG.00.0020'
        - 'TG.00.0030'
        - 'TG.00.0040'
        - 'TG.00.0050'
        - 'TG.00.0060'
        - 'TG.00.0070'
        - 'TG.00.0080'
        - 'TG.00.0090'
        - 'TG.05.0010'
        - 'TG.05.0020'
        - 'TG.05.0030'
        - 'TG.05.0040'
        - 'TG.05.0050'
        - 'TG.05.0060'
        - 'TG.05.0070'
        - 'TG.05.0080'
        - 'TG.05.0090'
        - 'TG.05.0100'
        - 'TG.05.0110'
        - 'TG.05.0120'
        - 'TG.05.0130'
        - 'TG.05.0140'
        - 'TG.05.0150'
        - 'TG.05.0160'
        - 'TG.05.0170'
        - 'TG.05.0180'
        - 'TG.05.0190'
        - 'TG.05.0200'
        - 'TG.05.0210'
        - 'TG.05.0220'
        - 'TG.05.0230'
        - 'TG.05.0240'
        - 'TG.05.0250'
        - 'TG.05.0260'
        - 'TG.05.0270'
        - 'TG.05.0280'
        - 'TG.05.0290'
        - 'TG.05.0300'
        - 'TG.05.0310'
        - 'TG.10.0010'
        - 'TG.15.0060'
        - 'TG.15.0070'
        - 'TG.15.0080'
        - 'TK.00.0010'
        - 'TK.00.0020'
        - 'TK.00.0030'
        - 'TK.00.0040'
        - 'TK.00.0050'
        - 'TK.00.0060'
        - 'TK.00.0070'
        - 'TK.00.0080'
        - 'TK.00.0090'
        - 'TK.00.0100'
        - 'TK.00.0110'
        - 'TK.00.0120'
        - 'TK.00.0130'
        - 'TK.00.0140'
        - 'TK.00.0150'
        - 'TK.00.0160'
        - 'TK.00.0170'
        - 'TK.00.0180'
        - 'TK.00.0190'
        - 'TK.00.0200'
        - 'TK.00.0210'
        - 'TK.00.0220'
        - 'TK.00.0230'
        - 'TK.00.0240'
        - 'TK.05.0010'
        - 'TK.05.0020'
        - 'TK.05.0030'
        - 'TK.05.0040'
        - 'TK.05.0050'
        - 'TK.05.0060'
        - 'TK.05.0070'
        - 'TK.05.0080'
        - 'TK.05.0090'
        - 'TK.05.0100'
        - 'TK.30.0180'
        - 'TK.30.0190'
        - 'TK.30.0200'
        - 'TK.30.0210'
        - 'TK.30.0220'
        - 'TK.40.0010'
        - 'TK.40.0020'
        - 'TK.40.0030'
        - 'TM.00.0020'
        - 'VA.00.0010'
        - 'VA.00.0020'
        - 'VA.00.0030'
        - 'VA.00.0040'
        - 'VA.00.0050'
        - 'VA.00.0060'
        - 'VA.00.0070'
        - 'VA.10.0010'
        - 'VA.10.0020'
        - 'VA.10.0030'
        - 'VA.10.0040'
        - 'VA.10.0050'
        - 'VA.10.0060'
        - 'VA.10.0070'
        - 'VA.10.0080'
        - 'VA.10.0090'
        - 'VA.10.0100'
        - 'VA.10.0110'
        - 'VA.10.0120'
        - 'VA.10.0130'
        - 'VA.10.0140'
        - 'VA.10.0150'
        - 'VA.10.0160'
        - 'VA.10.0170'
        - 'VA.10.0180'
        - 'VA.10.0190'
        - 'VA.15.0010'
        - 'VA.15.0020'
        - 'VA.15.0030'
        - 'VA.15.0040'
        - 'VA.15.0050'
        - 'VA.15.0060'
        - 'VA.15.0070'
        - 'VA.15.0080'
        - 'VA.20.0010'
        - 'VA.20.0020'
        - 'VA.20.0030'
        - 'VA.20.0040'
        - 'VA.20.0050'
        - 'VA.25.0010'
        - 'VA.25.0020'
        - 'VA.25.0030'
        - 'VA.25.0040'
        - 'VA.30.0030'
        - 'VA.30.0040'
        - 'VA.30.0050'
        - 'VA.30.0060'
        - 'VA.30.0070'
        - 'VA.30.0080'
        - 'VA.30.0090'
        - 'VA.30.0100'
        - 'VC.25.0010'
        - 'VC.35.0100'
        - 'VC.35.0110'
        - 'VC.35.0120'
        - 'VC.35.0130'
        - 'VC.40.0010'
        - 'VC.40.0020'
        - 'VC.50.0020'
        - 'VE.05.0010'
        - 'VE.05.0020'
        - 'VE.10.0040'
        - 'VE.15.0010'
        - 'VE.35.0010'
        - 'VE.35.0020'
        - 'VE.35.0030'
        - 'VE.35.0040'
        - 'VE.35.0050'
        - 'VE.35.0060'
        - 'VE.35.0070'
        - 'VE.35.0080'
        - 'VE.35.0090'
        - 'VE.35.0100'
        - 'VE.35.0110'
        - 'VE.35.0120'
        - 'VE.35.0130'
        - 'VE.35.0140'
        - 'VE.35.0150'
        - 'VE.40.0010'
        - 'VE.40.0030'
        - 'VE.45.0010'
        - 'VG.00.0010'
        - 'VG.00.0020'
        - 'VG.00.0030'
        - 'VG.00.0040'
        - 'VG.00.0050'
        - 'VG.00.0060'
        - 'VG.00.0070'
        - 'VG.00.0080'
        - 'VG.00.0090'
        - 'VG.00.0100'
        - 'VG.00.0110'
        - 'VG.00.0120'
        - 'VG.00.0130'
        - 'VG.05.0010'
        - 'VG.05.0020'
        - 'VG.05.0030'
        - 'VG.05.0040'
        - 'VG.05.0050'
        - 'VG.05.0060'
        - 'VG.10.0050'
        - 'VG.10.0100'
        - 'VG.10.0110'
        - 'VG.15.0010'
        - 'VG.15.0020'
        - 'VG.15.0050'
        - 'VG.15.0060'
        - 'VG.15.0070'
        - 'VG.15.0075'
        - 'VK.00.0010'
        - 'VK.00.0020'
        - 'VK.00.0030'
        - 'VK.00.0040'
        - 'WA.00.0010'
        - 'WA.05.0010'
        - 'WA.05.0020'
        - 'WA.05.0030'
        - 'WA.05.0040'
        - 'WA.05.0050'
        - 'WA.10.0010'
        - 'WA.10.0020'
        - 'WA.10.0030'
        - 'WA.10.0040'
        - 'WA.10.0050'
        - 'WA.15.0010'
        - 'WA.15.0020'
        - 'WA.15.0030'
        - 'WA.15.0040'
        - 'WA.15.0050'
        - 'WA.20.0010'
        - 'WA.20.0040'
        - 'WA.25.0020'
        - 'WF.00.0010'
        - 'WG.00.0010'
        - 'WG.00.0020'
        - 'WG.00.0030'
        - 'WG.00.0040'
        - 'WG.00.0050'
        - 'WG.00.0060'
        - 'WG.00.0070'
        - 'WK.00.0010'
        - 'WK.00.0020'
        - 'WK.00.0030'
        - 'WK.00.0040'
        - 'WK.00.0050'
        - 'WK.00.0060'

    AmbulatoryLumpSumCode:
      type: string
      description: Ambulante Pauschalen Codes
      enum:
        - 'C00.10A'
        - 'C00.10B'
        - 'C00.10C'
        - 'C00.10D'
        - 'C00.10E'
        - 'C00.10F'
        - 'C00.10G'
        - 'C00.20A'
        - 'C00.20B'
        - 'C00.20C'
        - 'C00.20D'
        - 'C00.20E'
        - 'C00.30A'
        - 'C00.30B'
        - 'C00.30C'
        - 'C00.30D'
        - 'C00.30E'
        - 'C00.40A'
        - 'C00.40B'
        - 'C00.40C'
        - 'C00.40D'
        - 'C00.50A'
        - 'C00.50B'
        - 'C00.50C'
        - 'C00.61A'
        - 'C00.61B'
        - 'C00.61C'
        - 'C00.61D'
        - 'C00.63Z'
        - 'C00.80A'
        - 'C00.80B'
        - 'C00.80C'
        - 'C00.80D'
        - 'C00.82A'
        - 'C00.82B'
        - 'C01.00Z'
        - 'C01.05A'
        - 'C01.05B'
        - 'C01.06Z'
        - 'C01.15A'
        - 'C01.15B'
        - 'C01.15C'
        - 'C01.15D'
        - 'C01.16A'
        - 'C01.16B'
        - 'C01.50A'
        - 'C01.50B'
        - 'C01.50C'
        - 'C02.02A'
        - 'C02.02B'
        - 'C02.02C'
        - 'C02.02D'
        - 'C02.05A'
        - 'C02.05B'
        - 'C02.10Z'
        - 'C02.15A'
        - 'C02.15B'
        - 'C02.15C'
        - 'C02.20A'
        - 'C02.20B'
        - 'C02.25A'
        - 'C02.25B'
        - 'C02.25C'
        - 'C02.25D'
        - 'C02.30A'
        - 'C02.30B'
        - 'C02.30C'
        - 'C02.30D'
        - 'C02.30E'
        - 'C03.00Z'
        - 'C03.05Z'
        - 'C03.10A'
        - 'C03.10B'
        - 'C03.10C'
        - 'C03.10D'
        - 'C03.15A'
        - 'C03.15B'
        - 'C03.15C'
        - 'C03.15D'
        - 'C03.20Z'
        - 'C03.25A'
        - 'C03.25B'
        - 'C03.25C'
        - 'C03.26A'
        - 'C03.26B'
        - 'C03.26C'
        - 'C03.26D'
        - 'C03.26E'
        - 'C03.30A'
        - 'C03.30B'
        - 'C03.31A'
        - 'C03.31B'
        - 'C03.31C'
        - 'C03.32Z'
        - 'C03.33Z'
        - 'C03.35A'
        - 'C03.35B'
        - 'C03.35C'
        - 'C03.35D'
        - 'C03.36Z'
        - 'C03.70A'
        - 'C03.70B'
        - 'C04.50A'
        - 'C04.50B'
        - 'C04.50C'
        - 'C04.50D'
        - 'C04.51A'
        - 'C04.51B'
        - 'C04.51C'
        - 'C04.51D'
        - 'C04.51E'
        - 'C04.60A'
        - 'C04.60B'
        - 'C05.01A'
        - 'C05.01B'
        - 'C05.01C'
        - 'C05.02Z'
        - 'C05.04A'
        - 'C05.04B'
        - 'C05.10A'
        - 'C05.10B'
        - 'C05.11A'
        - 'C05.11B'
        - 'C05.11C'
        - 'C05.11D'
        - 'C05.12Z'
        - 'C05.15A'
        - 'C05.15B'
        - 'C05.20A'
        - 'C05.20B'
        - 'C05.25A'
        - 'C05.25B'
        - 'C05.25C'
        - 'C05.25D'
        - 'C05.25E'
        - 'C05.25F'
        - 'C05.30A'
        - 'C05.30B'
        - 'C05.30C'
        - 'C05.30D'
        - 'C05.30E'
        - 'C05.35Z'
        - 'C05.60Z'
        - 'C06.00A'
        - 'C06.00B'
        - 'C06.05A'
        - 'C06.05B'
        - 'C06.05C'
        - 'C06.10A'
        - 'C06.10B'
        - 'C06.15A'
        - 'C06.15B'
        - 'C07.10Z'
        - 'C07.50Z'
        - 'C07.60A'
        - 'C07.60B'
        - 'C07.60C'
        - 'C07.60D'
        - 'C07.60E'
        - 'C07.60F'
        - 'C07.60G'
        - 'C07.60H'
        - 'C08.00A'
        - 'C08.00B'
        - 'C08.01Z'
        - 'C08.02Z'
        - 'C08.05A'
        - 'C08.05B'
        - 'C08.08Z'
        - 'C08.10A'
        - 'C08.10B'
        - 'C08.10C'
        - 'C08.20A'
        - 'C08.20B'
        - 'C08.20C'
        - 'C08.21A'
        - 'C08.21B'
        - 'C08.21C'
        - 'C08.21D'
        - 'C08.22A'
        - 'C08.22B'
        - 'C08.25A'
        - 'C08.25B'
        - 'C08.26A'
        - 'C08.26B'
        - 'C08.26C'
        - 'C08.30A'
        - 'C08.30B'
        - 'C08.30C'
        - 'C08.30D'
        - 'C08.30E'
        - 'C08.30F'
        - 'C08.33A'
        - 'C08.33B'
        - 'C08.33C'
        - 'C08.33D'
        - 'C08.35A'
        - 'C08.35B'
        - 'C08.35C'
        - 'C08.35D'
        - 'C08.35E'
        - 'C08.35F'
        - 'C08.40A'
        - 'C08.40B'
        - 'C08.40C'
        - 'C08.40D'
        - 'C08.40E'
        - 'C08.40F'
        - 'C08.40G'
        - 'C08.40H'
        - 'C08.41Z'
        - 'C08.43A'
        - 'C08.43B'
        - 'C08.43C'
        - 'C08.50A'
        - 'C08.50B'
        - 'C08.50C'
        - 'C08.50D'
        - 'C08.50E'
        - 'C08.80A'
        - 'C08.80B'
        - 'C09.12A'
        - 'C09.12B'
        - 'C09.12C'
        - 'C09.12D'
        - 'C09.12E'
        - 'C09.12F'
        - 'C09.15Z'
        - 'C09.20Z'
        - 'C09.30A'
        - 'C09.30B'
        - 'C09.40A'
        - 'C09.40B'
        - 'C09.40C'
        - 'C09.41A'
        - 'C09.41B'
        - 'C09.49Z'
        - 'C09.50A'
        - 'C09.50B'
        - 'C09.60A'
        - 'C09.60B'
        - 'C10.00Z'
        - 'C10.49Z'
        - 'C11.10A'
        - 'C11.10B'
        - 'C11.20Z'
        - 'C11.30Z'
        - 'C11.49Z'
        - 'C11.50A'
        - 'C11.50B'
        - 'C11.50C'
        - 'C11.50D'
        - 'C11.50E'
        - 'C11.51A'
        - 'C11.51B'
        - 'C11.51C'
        - 'C11.51D'
        - 'C11.55Z'
        - 'C11.56Z'
        - 'C11.65A'
        - 'C11.65B'
        - 'C11.65C'
        - 'C11.65D'
        - 'C11.71Z'
        - 'C11.72Z'
        - 'C12.01Z'
        - 'C12.03A'
        - 'C12.03B'
        - 'C12.03C'
        - 'C12.09Z'
        - 'C12.10A'
        - 'C12.10B'
        - 'C12.10C'
        - 'C12.19Z'
        - 'C12.20Z'
        - 'C12.50A'
        - 'C12.50B'
        - 'C12.65Z'
        - 'C12.70A'
        - 'C12.70B'
        - 'C13.10A'
        - 'C13.10B'
        - 'C13.10C'
        - 'C13.20A'
        - 'C13.20B'
        - 'C13.20C'
        - 'C13.20D'
        - 'C13.20E'
        - 'C13.21Z'
        - 'C13.30A'
        - 'C13.30B'
        - 'C13.30C'
        - 'C13.40A'
        - 'C13.40B'
        - 'C14.00Z'
        - 'C14.10A'
        - 'C14.10B'
        - 'C14.10C'
        - 'C14.10D'
        - 'C14.20A'
        - 'C14.20B'
        - 'C14.40A'
        - 'C14.40B'
        - 'C22.00A'
        - 'C22.00B'
        - 'C23.90A'
        - 'C23.90B'
        - 'C23.90C'
        - 'C90.01A'
        - 'C90.01B'
        - 'C90.02A'
        - 'C90.02B'
        - 'C90.03Z'
        - 'C99.80Z'
